{% block views_unformatted_title %}
  {% if title %}
    {% include 'radix:heading' with {
      heading_html_tag: 'h3',
      content: title
    } %}
  {% endif %}
{% endblock %}

{% block views_unformatted_rows %}
  {% for row in rows %}
    {%
      set row_classes = [
      default_row_class ? 'views-row',
    ]|merge(row_utility_classes ? row_utility_classes : [])
    %}

    {% if exclude_wrappers %}
      {{- row.content -}}
    {% else %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{- row.content -}}
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

